@import "./../../../../styles/variables.scss";

.navbar__container {
  width: 100%;
  background-color: rgba(0,0,0,0);
  position: fixed;
  top: 0;
  left: 0;
  transition: .4s;
  z-index: 100;
}

.colored__scrolled {
  background-color: #212121;
  transition: .4s;
  color: red;
}

.navbar__nav {
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    //margin-top: 3rem;
    width: 6rem;
    height: 3rem;
  }
}

.navbar__logo {
  text-transform: uppercase;
  font-weight: var(--font-bold);
  letter-spacing: 1px;
  display: inline-flex;
  align-items: center;
  column-gap: .25rem;
  opacity: 0.6;
   
  h1 {
    margin-top: 1rem;
    border: solid;
    padding: 3px;
    box-shadow: 16px 14px 20px #0000008c;
    border-radius: 10px;
  }
}

.navbar__list {
  flex-direction: row;
  column-gap: 2.5rem;

  a {
    color: white;
    transition: .3s;
  }
}

.activated-route {
  border-bottom: 2px solid;
  border-radius: 0;

  &:last-child {
    margin-right: 15px;
  }
}

.hide-input-field {
  display: none;
}

.show-input-field {
  display: show;
  background: #454545;
  color: white;
  height: 2rem;
  border-radius: 5px;
  margin-left: 1rem;
}

.red-icon {
  color: red;
}